/* global css sidebar */
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.scrollbar-sidebar a{
    font-weight: 500;
    letter-spacing: .5px;
    color: #000;
}
.scrollbar-sidebar i{
    font-size: 1rem !important;
    opacity: 1 !important;
}

.dropdown-toggle::after { 
    content: none;
} 

.app-sidebar .app-sidebar__inner {
   padding: 0;
}
.vertical-nav-menu li {
   margin-bottom: 2rem;
  }
.vertical-nav-menu li a {
  border-radius: 0;
  color: #fff;
}
.logo-src{
    font-size: 1.8rem;
    width: 100%;
    font-weight: 700;
    letter-spacing: .5px;
}
.logo-src span{
    color: #f5b402
}
.hamburger-inner{
    background-color: #222;
}
.hamburger-inner:before{
    background-color: #222;
}
.hamburger-inner:after{
    background-color: #222;
}
.app-header__logo .logo-src {
    height: auto;
    width: auto;
}
.vertical-nav-menu li a:hover{
  background-color: #222;
}
.app-sidebar .scrollbar-sidebar{
    background-color: #2e2e2e;
    color: #fff;
}
.hamburger.is-active .hamburger-inner{
    background-color: #222;
}
.hamburger.is-active .hamburger-inner:before{
    background-color: #222;
}
.hamburger.is-active .hamburger-inner:after{
    background-color: #222;
}
.app-header__menu button{
    color: #fff;
    background-color: #222;
}
.app-header__menu button.active{
    color: #fff;
    background-color: #222;
}
.app-header__menu .mobile-toggle-header-nav{
    color: #fff;
    background-color: #222;
}
.app-main__inner .left, .app-main__inner .right{
    background-color: #fff;
    box-shadow: 0 0.4rem 0.8rem 0 #ebebeb;
    border: .1rem solid #e6eaee;
    border-radius: 4px;
    padding: .5rem;
    background-color: #fff;
}
 .app-main__inner .right{
    padding: 0;
}

.app-theme-white .app-sidebar {
  min-width: 200px !important;
  width: 200px;
}
.fixed-sidebar .app-main .app-main__outer {
  z-index: 9;
  padding-left: 200px;
}
@media(min-width:1250px){
    .hamburger-box{
        display: none;
    }
}
/* mca-page search */
 .searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    max-width: 750px;
    margin: auto;
    position: relative;
    margin-bottom: 1rem;
}
 .searchBox input {
    color: #232323;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #f5b402;
    outline: none;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 10px;
    min-height: 48px;
    height: 48px;
    width: 100%;
    cursor: auto;
    -moz-box-flex: 2;
    -ms-flex-positive: 2;
    max-width: 600px;
    color: #2e2323;
    font-weight: 500;
    letter-spacing: .5px;
    font-style: italic;
}
 .searchBox button {
    border: none;
    outline: none;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    padding: .5rem 1rem;
    background-color: #f5b402;
    border-radius: 8px;
    height: 48px;
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.suggestions {
    position: absolute;
    width: 750px;
    max-width: 100%;
    background: #fff;
    border: 1px solid #e2e2e2;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    top: 80px;
    border-radius: 8px;
    padding: 0;
}
.suggestions a {
    padding: 8px;
    cursor: pointer;
    padding: .5rem 1rem;
    display: block;
    color: #232323;
    font-weight: 500;
    text-decoration: none;
}
.suggestions a:hover {
    background: #f5b402;
    text-decoration: none;
}
.suggestions a:first-child {
    border-radius: 8px 8px 0 0;
}
.suggestions a:last-child {
    border-radius: 0 0 8px 8px;
}
/* mca desing */
.companyName{
   display: flex;
   justify-content: space-between;
   margin-bottom: 1rem;
}
.companyName h1{
    font-weight: 600;
    font-size: 1.6rem;
    color: #232323;
    line-height: 1.4;
}
.companyName button{
    outline: none;
    border: none;
    background-color: #f5b402;
    padding: .5rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    color: #232323;
    text-transform: uppercase;
}
@media(max-width:768px){
    .companyName h1{
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
    .companyName{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
     }
     .searchBox {
       flex-direction: column;
    }
    .searchBox input {
        margin-bottom: 1rem;
        max-width: 95%;
    }
}
.tabSearch .toggleTab{
    background-color: #fff;
    padding: 2rem 1rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin-bottom: 1rem;
    display: none;
}
.tabSearch .toggleTab ul{
    display: flex;
    padding-left: 0;
    flex-wrap: nowrap;
    overflow: auto;
    margin-bottom: 0;
}
.tabSearch .toggleTab ul::-webkit-scrollbar{
    display: none;
}
.tabSearch .toggleTab ul li{
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-right: 2rem;
}
.tabSearch .toggleTab ul li:last-child{
    margin-right: 0;
}
.tabSearch .toggleTab ul li a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space:  nowrap;
    color: #232323;
    border-radius: 0;
    padding: .5rem 1rem;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    border: 1px solid #e2e2e2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.tabSearch .toggleTab ul li a.active{
    background-color: #f5b402;
    border: 1px solid #f5b402;
}

.tabSearch .toggleTab ul li a svg{
    width: 16px;
    height: 16px;
    margin-right: .5rem;
    fill: #232323;
}
.tabSearch .toggleTab ul li a:hover{
   text-decoration: none;
}
/* =============== */
.isActive{
    display: flex;
    justify-content: space-between;
}
.isActive button{
   border: none;
   outline: none;
   border-bottom: 1px solid #000;
   padding: .5rem 1rem;
   display: inline-flex;
   align-items: center;
   font-weight: 500;
   color: #232323;
   background-color: transparent;
   text-transform: uppercase;
}
.isActive button:nth-of-type(2){
    margin: 0 .5rem;
 }
.isActive button svg{
    width: 16px;
    height: 16px;
    margin-right: .5rem;
}
.isActive span{
   font-weight: 400;
   font-size: .9rem;
   text-transform: uppercase;
}
.isActive span small{
   color: rgb(0, 136, 0);
   font-weight: 500;
   font-size: .9rem;
   display: inline-block;
   margin-left: .5rem;
 }
 @media(max-width:768px){
    .isActive{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .isActive button{
        margin-top: 1rem;
        margin-bottom: .5rem;
    }
 }
 .row{
    max-width: 100%;
    margin: auto;
    padding: 0;
 }
 .staticsGraph{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    background-color: #fff;
    padding: 1rem .5rem;
 }
 .staticsGraph .graphBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .staticsGraph p{
   color: #414c59;
   font-weight: 400;
   font-size: .9rem;
 }
 .staticsGraph .graphBox .graphItem span{
    display: block;
    color: #414c59;
    font-size: 1.6rem;
 }
 .staticsGraph .graphBox .graph small{
    display: block;
    color: #414c59;
    text-align: right;
    font-size: .7rem;
    font-weight: 400;
    padding-right: .5rem;
 }
 .staticsGraph .graphBox .graphItem .arrowUp{
    color: #008103;
    font-weight: 500;
    font-size: 1.1rem;
 }
 .staticsGraph .graphBox .graphItem .arrowDown{
    color: #d61008;
    font-weight: 500;
    font-size: 1.1rem;
 }
 .snippet{
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    padding: .5rem 1rem;
    margin-bottom: 1rem;
 }
 .snippet .snippetHeader{
    margin-bottom: 1rem;
 }
 .snippet .snippetHeader h2{
    font-weight: 600;
    font-size: 1.2rem;
    color: #000;
    margin-bottom: .5rem;
    text-transform: uppercase;
 }
 .snippet .snippetHeader span{
    color: rgba(0, 0, 0, .54);
    font-weight: 400;
    font-size: .9rem;
 }
 .snippet p{
    color: #414c59;
    line-height: 1.5;
    font-weight: 500;
 }
 .particular .keyValue{
    display: flex;
    justify-content: space-between;

 }
 .particular h3{
    font-weight: 600;
    font-size: 1rem;
    color: #000;
    margin-bottom: .5rem;
    text-transform: uppercase;
 }
 .particular h4{
    font-weight: 600;
    font-size: .9rem;
    color: #000;
    margin-bottom: .1rem;
 }
 .particular .keyValue span{
    font-weight: 500;
    font-size: .9rem;
    color: #414c59;
    display: block;
    margin-bottom: .1em;
    text-align: left;
 }
 @media(min-width:991px){
    .particular .keyValue span{
        min-width: 200px;
     }
     .particular .keyValue h3:nth-of-type(2){
        text-align: left;
        min-width: 200px;
     }
 }
 .checkAvl{
    background: #eee;
    border: none;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    color: #414c59;
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem 1rem;
    font-weight: 500;
    margin-bottom: .5rem;
}
.checkAvl:hover{
   text-decoration: none;
   color: #414c59;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.snippet .contDetails h3{
    text-transform: uppercase;
    margin-bottom: .5rem;
    font-weight: 600;
    color: #000;
    font-size: .95rem;
}
.betaScore .scorebox{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.betaScore .scorebox .scoreImg img{
    width: 350px;
    height: 260px;
    object-fit: contain;
    max-width: 100%;
}
@media(max-width:786px){
    .betaScore .scorebox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.betaScore .scorebox .stars{
   display: flex;
   flex-direction: row;
   margin-bottom: .2rem;
   align-items: center;
}
.betaScore .scorebox .stars span:first-child{
   min-width: 140px;
   text-align: left;
   font-weight: 500;
   font-size: .7rem;
 }
.betaScore .scorebox .stars svg{
    width: 16px;
    height: 16px;
    fill: #fbbf2c;
 }
 .betaScore h3{
    margin-bottom: .5rem;
    font-weight: 600;
    color: #000;
    font-size: .9rem;
 }
 .snippet h2{
    font-weight: 600;
    font-size: 1.2rem;
    color: #000;
    margin-bottom: .5rem;
    text-transform: uppercase;
 }
 .risk{
    margin-bottom: 1rem;
 }
 .risk .riskFlex{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
 }
 .risk .riskFlex h3{
    display: flex;
    font-weight: 600;
    color: #414c59;
    font-size: .95rem;
    min-width: 160px;
    margin-bottom: 0;
 }
 .risk .riskFlex span{
   font-weight: 600;
   padding: .2rem .3rem;
   color: #fff;
 }
 .risk .riskFlex:nth-of-type(1) span{
    background: rgb(178, 39, 16);
  }
  .risk .riskFlex:nth-of-type(2) span{
    background: rgb(235, 140, 67);
  }
  .risk .riskFlex:nth-of-type(3) span{
    background-color: transparent;
    color: #232323;
    border: 1px solid #232323;
  }
  .aboutScore h3{
    font-weight: 600;
    font-size: .9rem;
    color: #414c59;
    margin-bottom: .5rem;
  }
  .aboutScore em strong{
    font-weight: 600;
  }
  .aboutScore em {
    color: #414c59;
    line-height: 1.5;
    font-weight: 400;
    display: block;
    margin-bottom: 1rem;
  }
  .aboutScore ol li {
    color: #414c59;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: .8rem;
  }
  .regDetails h4{
    font-weight: 600;
    font-size: .9rem;
    color: #000;
    margin-bottom: 0;
  }
  .regDetails span{
    font-weight: 500;
    font-size: .8rem;
    color: #414c59;
  }